<div class="flex flex-col justify-center items-center min-h-screen">
  <div class="flex flex-row justify-center items-start w-full max-w-4xl">
<form #f="ngForm" (ngSubmit)="addData(f)" class="max-w-md mx-auto bg-white rounded p-8 shadow-md">
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
      Enter Teacher's Name
    </label>
    <input type="text" name="Name" placeholder="Enter Teacher's Name" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" ngModel/>
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="mail">
      Enter the Mail
    </label>
    <input type="mail" name="Mail" placeholder="Enter the Mail" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" ngModel/>
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
      Enter your password
    </label>
    <input type="password" name="password" placeholder="Enter your password" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" ngModel/>
  </div>
  <div class="flex items-center justify-between">
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" >
      Save 
    </button>
    <!-- <button (click)="updateData(data.id)">Update</button><button (click)="deleteData(data.id)">Delete</button> -->
  </div>
</form>

<div class=" items-center ">
  <table class="w-full max-w-3xl bg-white shadow-md rounded px-8 py-6">
    <thead>
      <tr>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
          Name
        </th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
          Mail
        </th>
        <th class="px-6 py-3 bg-gray-50"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of teacherData | async">
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          <div class="flex items-center">
            <div class="flex-shrink-0 h-10 w-10">
            </div>
            <div class="ml-4">
              <div class="text-sm leading-5 font-medium text-gray-900">{{ data.Name }}</div>
            </div>
          </div>
        </td>
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          <div class="text-sm leading-5 text-gray-900">{{ data.Mail }}</div>
        </td>
        <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200">

        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>

